body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background-color: #1F2937;
    font-size: 24px;
    font-weight: bolder;
    color: #E5E7EB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

ul {
    list-style: none;
    display: flex;
    gap: 16px;
    font-size: 18px;
    color: #E5E7EB;
}

.main1 {
    background-color: #1F2937;
    color: #E5E7EB;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main1 p {
    font-size: 18px;
    margin: 4px;
}

.main1 h1 {
    font-size: 48px;
    margin: 0px;
}

.main2 {
    color: #1F2937;
    font-weight: bolder;
    font-size: 36px;
    text-align: center;
}

.block1 {

}

.block2 {

}

.img1 {
    background-color: darkgray;
    height: auto;
    width: 768px;
}

.signup {
    background-color: #3882f6;
    color: #E5E7EB;
    font-size: 18px;
    font-weight: bold;
    border-radius: 4px;
    border-style: none;
    padding: 4px 16px;
}

.container {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.img2 {
    height: 150px;
    width: 150px;
    border: #3882f6;
    border-radius: 4px;
    border-width: 1px;
    background-color: #3882f6;
}